<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="gescom.printer.Properties.Settings.GESCOMConnectionString" connectionString="&quot;Data Source=THINK;Initial Catalog=GESCOM;Integrated Security=True&quot;" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>